.hotel_card {
	height: fit-content;
	width: 100%;
	margin-bottom: 1rem;

	display: flex;
	flex-direction: row;

	border: 1px solid var(--primary);
	border-radius: var(--border-radius);
	overflow: hidden;

	box-shadow: var(--shadow-primary);

	position: relative;
}

.hotel_card a::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.hotel_card:hover {
	transform: scale(1.025);
	transition: 0.3s;
}

.card_img {
	width: 20rem;
	object-fit: cover;
}

.card_info {
	width: 100%;
	padding: 1rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card_link {
	color: var(--primary-dark);
	text-decoration: none;
	transition: 0.3s;
}

.card_link:hover,
.card_link:focus,
.card_link:focus-visible {
	text-decoration: underline var(--primary-dark);
	transition: 0.3s;
}

.card_title {
	margin: 0;
	font-size: 1.5em;
	color: var(--primary-dark);
}

.card_location {
	margin: 0.5rem 0;
}

.card_features {
	margin: 0;
}

.rating {
	min-width: fit-content;
}

.rating_filled,
.rating_filled_detail {
	color: var(--primary-dark);
}

.rating_empty,
.rating_empty_detail {
	color: var(--primary-light);
}

.hotel_highlight {
	width: 12rem;
	margin-bottom: 1rem;

	display: flex;
	flex-direction: column;

	border: 1px solid var(--primary);
	border-radius: var(--border-radius);
	overflow: hidden;

	box-shadow: var(--shadow-primary);

	position: relative;
}

.hotel_highlight a::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.hotel_highlight:hover {
	transform: scale(1.025);
	transition: 0.3s;
}

.highlight_img {
	width: 100%;
	height: 7rem;
	object-fit: cover;
}

.highlight_info {
	padding: 1rem;
}

.highlight_link {
	color: var(--primary-dark);
	text-decoration: none;
	transition: 0.3s;
}

.highlight_link:hover,
.highlight_link:focus,
.highlight_link:focus-visible {
	text-decoration: underline var(--primary-dark);
	transition: 0.3s;
}

.highlight_title {
	margin: 0;
	font-size: 1.2em;
	color: var(--primary-dark);
	line-height: 1;
}

.highlight_location {
	font-size: 0.9em;
}

@media (prefers-color-scheme: dark) {
	.hotel_card,
	.hotel_highlight {
		background-color: var(--primary-light);
		color: var(--primary-dark);
	}

	.rating_filled {
		color: var(--primary-dark);
	}

	.rating_empty {
		color: var(--white);
	}

	.rating_filled_detail {
		color: var(--primary-verylight);
	}
	.rating_empty_detail {
		color: var(--primary-light);
	}
}

@media screen and (max-width: 1290px) {
	.card_img {
		width: 15rem;
	}
}

@media screen and (max-width: 1000px) {
	.card_img {
		width: 10rem;
	}
}

@media screen and (max-width: 650px) {
	.card_location {
		margin: 0.5rem 0 0.2rem;
	}

	.card_img {
		width: 7rem;
	}
}

@media screen and (max-width: 570px) {
	.hotel_card p,
	.hotel_card li {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 400px) {
	.card_info {
		flex-wrap: wrap;
		gap: 0.5rem;
	}
}
