.container {
	margin: 2rem auto;
	width: fit-content;
	display: flex;
	padding: 3rem;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	border-radius: 25px;
	background: var(--secondary-verylight, #fff8f3);
	box-shadow: var(--glow-black);
}

.title {
	margin: 0 2rem;
	font-size: 1.5em;
	color: var(--primary-dark);
}

.form {
	width: 100%;
	min-width: fit-content;
}

.form_input {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 1rem 0;
	width: 100%;
}

.label {
	transform: translateX(25px);
}

.input {
	margin: 0;
	width: max-content;
	min-width: 20rem;
	padding: 1rem 1.5rem;

	border-radius: var(--border-radius);
	border: 1px solid var(--Primary, #017ca0);
	background: var(--White, #fffdfc);
	box-shadow: 0px 4px 10px 0px rgba(0, 94, 121, 0.25) inset;
}

.password {
	text-align: left;
}

.password .form_input {
	margin-bottom: 0;
}

.checkbox {
	transform: translateX(25px);
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;
}
