.review {
	border: 1px solid var(--primary);
	border-radius: var(--border-radius);
	padding: 1rem;
	margin-bottom: 1rem;
}

.review_top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.name {
	margin: 0;
	font-weight: 700;
	color: var(--primary-dark);
}

.review_text {
	margin-top: 1rem;
}
